<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Quiz app, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up for Quiz app,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To confirm your registration follow this link: <%= @url %>
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>
